@use "sass:color";
@use "mixins";
@use "variables";
@use "shared";

pre {
	background: variables.$darkBg;
	color: variables.$darkBgText;

	font-family: Consolas, "Courier New", Courier, monospace;
	line-height: 1.4em;
	font-family: Menlo,
	Monaco,
	Courier New,
	monospace;
	@include mixins.force-wrap();
	font-size: 0.8rem;
	padding: 1.125em;

	> code {
		white-space: pre-wrap;
		background: transparent;
		color: inherit;
		padding: 0;
		border-radius: 0;
	}
}

code {
	background: color.mix(variables.$hot, white, 8%);
	color: variables.$textColor;
	padding: 0.08em 0.25em;
	border-radius: 0.2em;

	font-family: Menlo,
	Monaco,
	Courier New,
	monospace;
}

.api-example--controller {

	display: grid;
	grid-template-rows: 1fr;

	border-radius: 5px;
	border: 1px solid variables.$hot;
	overflow: hidden;

	.home--app & {
		@extend %bordered-box;
	}

	ul,
	li {
		margin: 0;
		padding: 0;
		display: block;
		list-style: none;
	}

	ul {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;

		min-width: 80px;

		text-align: center;
	}

	li {
		border-left: 1px solid variables.$border;

		&:first-child {
			border-left: none;
		}

		> button {
			display: block;
			width: 100%;
			padding: 1em;
			border: 0;
			border-radius: 0;
			background: white;
			color: inherit;
			font: inherit;
			cursor: pointer;

			&:hover {
				background: color.mix(variables.$hot, white, 50%);
			}

			&:focus-visible {
				position: relative;
				z-index: 1;
				outline: 2px solid variables.$controlActiveBorder;
				outline-offset: -2px;
			}

			&[aria-pressed="true"] {
				cursor: default;
				background: variables.$hot;
				color: variables.$darkBgText;
			}
		}
	}
}
