@use "variables";
@use "sass:color";
@use "shared";

%dashboard {
	> .add-button {
		display: block;
		margin: 0 auto;
		height: 2em;

		transform: scale(1.2);

		> .icon {
			filter: grayscale(1) brightness(0) invert(1);
		}
	}

	.no-shields {
		text-align: center;
		display: block;
		margin-bottom: 2em;
	}

	.shield--controller {
		display: grid;
		

		@media screen and (min-width: #{variables.$pageWidth}) {
			grid-template-areas: "ni img" "mi fi" "api api" "bc bc";
			grid-template-columns: 2fr 2fr;

			%left {
				border-right: 1px solid variables.$shade;
			}
		}

		@media screen and (max-width: #{variables.$pageWidth - 1}) {
			grid-template-areas: "ni" "img" "mi" "fi" "api" "bc";
		}
		

		%right {
		}

		> .name-input {
			@extend %left;
			grid-area: ni;
		}

		> .main-inputs {
			@extend %left;
			grid-area: mi;
		}

		> .button-container {
			grid-area: bc;
			background-color: rgba(255, 255, 255, .3);
		}

		> .fancy-inputs {
			@extend %right;
			grid-area: fi;
		}

		> .shield-container {
			@extend %right;
			grid-area: img;
		}

		> .api-example {
			grid-area: api;
			background-color: rgba(0, 0, 0, .1);
			box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, .3)
		}
	}

	.shield--controller {
		@extend %bordered-box;

		padding: 0;

		border-radius: 6px;
		overflow: hidden;

		margin-bottom: 1rem;

		input, button {

			&:focus, &:active {
				box-shadow: color.scale(variables.$hot, $alpha: -40%) 0 0 0 3px;
				outline: none;
			}

			&:active {
				box-shadow: color.scale(variables.$hot, $alpha: -10%) 0 0 0 3px;
			}
		}

		input[type="color"] {
			padding: 0;
		}

		.button-container {
			@extend %padded-container;

			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-start;

			> button {
				margin: .1em;
			}
		}

		%padded-container {
			padding: 1em;
		}

		%input-with-buttons-container {
			display: flex;

			> input {
				flex-grow: 1;
			}

			> button {
				border-left: 0;
				padding-left: 0.5em;
				padding-right: 0.5em;
				border-radius: 0;
				white-space: nowrap;
			}

			> button:last-of-type {
				border-radius: 0 0.4em 0.4em 0;
			}
		}

		%input-container {
			> label {
				display: block;
				margin-bottom: 0.4em;
				font-weight: 600;
				font-size: 14px;
			}

			input {
				width: 100%;

				&[type="color"]{
					width: 5em;
				}
			}
		}

		.input-container {
			@extend %input-container;
		}

		.name-input {
			@extend %padded-container;
		}

		.fancy-inputs {
			@extend %padded-container;
			@extend %input-container;

			> .markdown-input--controller {
				margin-bottom: .3em;
			}
		}

		.main-inputs {
			@extend %padded-container;

			> .input-container {
				margin-bottom: 5px;
			}
		}

		.shield-container {
			@extend %padded-container;

			max-width: 100%;
			overflow: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5em;
		}

		.markdown-input--controller {
			@extend %input-with-buttons-container;
		}

		.secret-input--controller {
			@extend %input-with-buttons-container;
		}

		.api-example {
			border-top: 1px solid variables.$border;

			> summary {
				@extend %padded-container;

				display: revert;
				cursor: pointer;
				user-select: none;

				&:hover {
					text-decoration: underline;
					background: variables.$hover;
				}
			}
		}

		> img {
			float: right;
		}
	}
}
