@use "sass:color";
@use "variables";
@use "shared";

%home {

	article {

		p {
			margin: .6em 0;
		}

		&.callout {
			p {
				font-size: 1.6em;
				font-weight: 600;
				text-align: center;
			}
		}

		&.api-examples {
			text-align: left;
		}

		&.static-badge-generator {
			text-align: left;
		}

		&.api-docs-section {
			@extend %bordered-box;

			background: rgba(variables.$lightSpace, 0.25);
			box-shadow: 0 1px 3px variables.$shade;
			padding: 1.5em;

			> h1,
			> h2 {
				margin-bottom: 0.75em;
			}

			> h3 {
				padding: 1.25em 0 0.5em;
				text-align: left;
			}
		}


		&.home-core {
			display: grid;
			grid-template: "welcome examples" "getting-started examples";
			grid-template-columns: 7fr 4fr;
			grid-gap: 1em;
			align-items: baseline;

			@media screen and (max-width: #{variables.$pageWidth}) {
				grid-template: "welcome" "getting-started" "examples";
			}

			> * {
				padding: 2em;
			}

			> .examples {
				grid-area: examples;

				li {
					padding: .4em 0;
				}
			}

			> .welcome {
				grid-area: welcome;
				text-align: center;
			}

			> .getting-started {
				@extend %bordered-box;
				grid-area: getting-started;

				margin: 1em auto;

				display: inline-block;
				text-align: center;

				> h3 {
					font-weight: bold;
					margin-bottom: 1em;
				}

				> p {
					margin: 1em 0;
					font-size: 0.9em;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.static-badge-generator--controller {
		display: grid;
		grid-template-areas: "inputs preview" "markdown markdown";
		grid-template-columns: 1fr 1fr;

		border: 1px solid variables.$hot;
		border-radius: 5px;
		overflow: hidden;

		@media screen and (max-width: #{variables.$pageWidth - 1}) {
			grid-template-areas: "inputs" "preview" "markdown";
			grid-template-columns: 1fr;
		}

		input, button {
			&:focus, &:active {
				box-shadow: color.scale(variables.$hot, $alpha: -40%) 0 0 0 3px;
				outline: none;
			}

			&:active {
				box-shadow: color.scale(variables.$hot, $alpha: -10%) 0 0 0 3px;
			}
		}

		input[type="color"] {
			padding: 0;
		}

		> form {
			grid-area: inputs;

			> .main-inputs {
				padding: 1em;

				> .input-container {
					margin-bottom: 0.75em;

					> label {
						display: block;
						margin-bottom: 0.4em;
						font-size: 14px;
						font-weight: 600;
					}

					> input {
						width: 100%;

						&[type="color"] {
							width: 5em;
						}
					}
				}
			}
		}

		> .shield-container {
			grid-area: preview;
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 100%;
			overflow: auto;
			min-height: 8em;
			padding: 0.5em;
			background: rgba(variables.$lightSpace, 0.25);

			> img {
				max-width: 100%;
			}
		}

		> .fancy-inputs {
			grid-area: markdown;
			border-top: 1px solid variables.$border;
			padding: 1em;

			> label {
				display: block;
				margin-bottom: 0.5em;
				font-size: 14px;
				font-weight: 600;
			}

			> .markdown-input--controller {
				display: flex;

				> input {
					flex-grow: 1;
				}

				> button {
					border-left: 0;
					padding-left: 0.5em;
					padding-right: 0.5em;
					border-radius: 0 0.4em 0.4em 0;
					white-space: nowrap;
				}
			}
		}
	}

	.github-login {
		@extend %big-action-button;

		display: inline-block;

		text-decoration: none;

		padding: 1em;
		padding-left: 3em;
		font-size: 1.2em;
		border-radius: 0.5em;
		background: variables.$primaryControl url("/img/github.svg");
		background-size: 1.5em;
		background-repeat: no-repeat;
		background-position: 1em center;
		color: variables.$primaryControlColor;

		&:hover {
			background-color: variables.$primaryControlHover;
		}


	}

}
