@import "compass/css3";
@import "compass/reset";
@import "compass/typography/text/force-wrap";

$pageWidth: 600px;

$hot: #f24236;

$selected: $hot;
$lightSpace: darken(#fafafa, 8%);
$hover: lighten($selected, 20%);

$control: #555;
$controlHover: mix(lighten($control, 20%), #0f0);
$controlActive: mix(lighten($control, 20%), $hot);

$darkBg: #555;
$darkBgText: white;

$shade: rgba(0, 0, 0, 0.065);

* {
	@include box-sizing(border-box);
}

strong {
	font-weight: bold;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: min-content auto min-content;

	color: #2a2a2a;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	> header {
		font-size: 2em;
		font-weight: bold;

		background: $darkBg;
		color: $darkBgText;

		display: grid;

		@media screen and (min-width: #{$pageWidth}) {
			grid-template-rows: 100%;
			grid-template-areas: "title subtitle";
			grid-template-columns: minmax(260px, calc(calc(100% - #{$pageWidth}) / 2));
		}

		@media screen and (max-width: #{$pageWidth - 1}) {
			grid-template-areas: "title" "subtitle";
		}
	
		> * {
			padding: 1em;
			height: 100%;
			text-align: center;
		}

		> h1 {
			grid-area: title;
			
			@media screen and (min-width: #{$pageWidth}) {
				text-align: right;
			}
		}

		> h2 {
			grid-area: subtitle;
			background: #5c72a6;

			@media screen and (min-width: #{$pageWidth}) {
				text-align: left;
			}

			@media screen and (max-width: #{$pageWidth - 1}) {
				font-size: 0.7em;
			}
		}
	}

	> main {
		// min-height: 100vw;

		$minHorizWs: 11px;
		> section {
			padding: 1em 0;
			@media screen and (max-width: #{$pageWidth + $minHorizWs}) {
				padding-left: $minHorizWs;
				padding-right: $minHorizWs;
			}

			&:nth-child(odd) {
				background: $shade;
			}

			> article {
				> h3 {
					font-size: 2em;
					padding: 0 0 0.5em;
					text-align: center;
				}

				max-width: $pageWidth;
				margin: 0 auto;
			}
		}
	}

	> footer {
		background: $darkBg;
		padding: 20px;
		color: white;
	}
}

p {
	line-height: 1.4em;
}

%shaded-box {
	background: $shade;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	padding: 1em;
}

.dashboard--controller {
	@import "dashboard";
}

.home--app {
	@import "home";
}

::selection {
	background: $selected;
	color: white;
	@include text-shadow(none);
}

@import "code";
