@import "reset";
@import "mixins";

$pageWidth: 700px;

$hot: #5c72a6;

$selected: lighten($hot, 40%);
$lightSpace: darken(#fafafa, 8%);
$hover: mix($hot, white, 50%);

$control: #555;
$controlHover: #3ead3e; //mix(lighten($control, 40%), rgb(32, 207, 32));
$controlActive: mix(lighten($control, 20%), $hot);

$darkBg: #555;
$darkBgText: white;

$shade: rgba(0, 0, 0, 0.065);

* {
	@include box-sizing(border-box);
}

strong {
	font-weight: bold;
}

%header {
	// font-weight: bold;
	line-height: 1.42;
	// font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
	text-shadow: 0px 2px #01010133;
}

@for $i from 1 through 6 {
	h#{$i} {
		@extend %header;
		font-size: #{2.626470588 + (-0.4772058824 * $i)+ (0.0375 * ($i * $i))}em;
	}
}

body {
	min-height: 100vh;
	tab-size: 4;
	display: grid;
	grid-template-rows: min-content auto min-content;
	background: $shade;

	color: #2a2a2a;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	> header {
		font-size: 2em;
		font-weight: bold;

		background: linear-gradient(0deg, rgba(187, 187, 187, .1), transparent), $darkBg;
		color: $darkBgText;

		display: grid;

		@media screen and (min-width: #{$pageWidth}) {
			grid-template-rows: 100%;
			grid-template-areas: "title subtitle";
			grid-template-columns: minmax(260px, calc(((100% - #{$pageWidth}) / 2) - 1em));
		}

		@media screen and (max-width: #{$pageWidth - 1}) {
			grid-template-areas: "title" "subtitle";
		}
	
		> * {
			padding: 1em;
			height: 100%;
			text-align: center;
		}

		%headerTitle {
			font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
			font-size: 32px;
			font-weight: 300;
			line-height: 1;
			text-shadow: 0px 2px #01010133;
		}

		> h1 {
			@extend %headerTitle;
			grid-area: title;
			
			@media screen and (min-width: #{$pageWidth}) {
				text-align: right;
			}

			> a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		> h2 {
			@extend %headerTitle;

			grid-area: subtitle;
			background: linear-gradient(0deg, rgba(187, 187, 187, .1), transparent), $hot;

			@media screen and (min-width: #{$pageWidth}) {
				text-align: left;
			}

			@media screen and (max-width: #{$pageWidth - 1}) {
				font-size: 0.7em;
			}
		}
	}

	> main {
		// min-height: 100vw;

		$minHorizWs: 11px;
		> section {
			padding: 1em 0;
			box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

			@media screen and (max-width: #{$pageWidth + $minHorizWs}) {
				padding-left: $minHorizWs;
				padding-right: $minHorizWs;
			}

			> article {
				> h3 {
					font-size: 2em;
					font-weight: bold;
					padding: 0 0 0.5em;
					text-align: center;
				}

				max-width: $pageWidth;
				margin: 0 auto;
			}
		}
	}

	> footer {
		background: $darkBg;
		padding: 20px;
		color: white;
		text-align: center;

		a {
			color: white;
		}
	}
}

p {
	line-height: 1.4em;
}

%shaded-box {
	background: $shade;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	padding: 1em;
}

%big-action-button {
	background-color: $control;
	color: white;

	transition: background-color cubic-bezier(0, 0.5, 0, 1) 1s;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	
	&:hover {
		background-color: $controlHover;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
	}

	&:active {
		background-color: $controlActive;
	}
}

.dashboard--controller {
	@import "dashboard";
}

.home--app {
	@import "home";
}

::selection {
	background: $selected;
	color: white;
	text-shadow: none;
}

@import "code";
