package pages

templ DashboardPage(hosts Hosts) {
	<!doctype html>
	<html>
		<head>
			@Head(hosts)
		</head>
		<body class="dashboard--app">
			@Header()
			<main>
				<section id="dashboard">
					<article id="dashboard-app"></article>
				</section>
			</main>
			<script type="module">
				import { Dashboard } from '/main.js';

				document.addEventListener('DOMContentLoaded', function () {
					Dashboard(document.getElementById('dashboard-app'));
				});
			</script>
			@Footer()
		</body>
	</html>
}
