package pages

templ DashboardPage(hosts Hosts) {
	<!doctype html>
	<html>
		<head>
			@Head(hosts)
		</head>
		<body class="dashboard--app">
			@Header()
			<main>
				<section id="dashboard">
					<article class="dashboard-navigation">
						<nav aria-label="Dashboard navigation">
							<a href="#/dashboard">Shields</a>
							<a href="#/user">User settings</a>
						</nav>
					</article>
				</section>
			</main>
			<script type="module">
				import { Dashboard } from '/main.js';

				document.addEventListener('DOMContentLoaded', function () {
					Dashboard(document.getElementById('dashboard'));
				});
			</script>
			@Footer()
		</body>
	</html>
}
